* {
    box-sizing: border-box;
}
body {
    margin: 0;
    background: linear-gradient(0deg, #f39494, #f39494),
        linear-gradient(
            243.43deg,
            #ffa5a5 32.96%,
            rgba(255, 255, 255, 0) 82.03%
        ),
        linear-gradient(243.18deg, #fdc5c5 25.45%, rgba(242, 152, 222, 0) 100%);

    font-weight: 400;
    font-size: 18px;
}

form {
    font-family: "Open Sans", sans-serif;
    background-color: rgba(255, 254, 254, 1);
    margin: 0 auto;
    max-width: 582px;
    max-height: 573px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

h1 {
    font-weight: 700;
    font-size: 36px;
    line-height: 49.03px;
    color: rgba(51, 51, 51, 1);
    text-align: center;
    padding-top: 72px;
    margin: 0;
}

p {
    line-height: 24.51px;
    color: rgba(102, 102, 102, 1);
    text-align: center;
}

a {
    line-height: 24.51px;
    color: rgba(8, 159, 224, 1);
}

input {
    font-size: 16px;
    font-style: italic;
    line-height: 21.79px;
    color: rgba(51, 51, 51, 1);
}

button {
    background-color: rgba(8, 159, 224, 1);
    color: rgba(255, 255, 255, 1);
    font-weight: 400;
    font-size: 18px;
    line-height: 24.51px;
    position: relative;
}

label {
    font-weight: 400;
    font-size: 14px;
    line-height: 19.07px;
    color: rgba(102, 102, 102, 1);
}

label[for="useterms"] a {
    text-decoration: none;
}
.container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    height: 100vh;
}
.main-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 22px;
    align-content: center;
    justify-content: center;
    padding-bottom: 91px;
    padding-right: 94px;
    padding-left: 94px;
}

.item {
    border-radius: 5px;
    border: 1px solid;
    padding-left: 11px;
    padding-bottom: 9px;
    padding-top: 9px;
}

input.item {
    background-color: rgb(245, 245, 245);
    border-color: rgb(245, 245, 245);
}
.user-info-container {
    display: flex;
    gap: 1px;
}

#firstname {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#lastname {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.hasaccount {
    line-height: 24.51px;
    color: rgba(102, 102, 102, 1);
    text-align: center;
    margin-bottom: 47px;
}

#register-button::after {
    content: url("../images/Arrow.svg");
    position: absolute;
    right: 22px;
}

.enter-data:focus {
    background-color: rgba(255, 255, 255, 1);
}
