body {
    background: linear-gradient(180deg, rgb(55, 65, 81), rgb(17, 24, 39) 100%);
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    font-family: "Roboto";
    color: #fafafa;
}

#myblog {
    font-size: 18px;
    line-height: 21.09px;
}

header {
    margin: 0 auto 69px;
    padding-top: 71px;
    max-width: 1080px;
}

header a {
    color: #fafafa;
    text-decoration: none;
}

main {
    margin: 0 auto 103px;
    max-width: 940px;
}

nav ul {
    list-style-type: none;
}

nav a {
    line-height: 18.75px;
}

input[type="search"] {
    background-color: #1f293799;
    line-height: 18.75px;
    padding: 10px;
    border-radius: 100px;
    border: 1px solid #1f293799;
    color: #fafafa;
}

h1 {
    font-size: 24px;
    line-height: 38px;
    margin: 0 auto;
    max-width: 60%;
    text-align: center;
}

section {
    margin: 0 auto;
    max-width: 708px;
    text-align: left;
}

footer {
    margin: 0 auto;
}

.bloginfo {
    margin-bottom: 14px;
    font-size: 14px;
    text-align: center;
}

.bloginfo,
.copyright {
    line-height: 16.41px;
    opacity: 60%;
}
.authorinfo {
    line-height: 28px;
}

.authorjob {
    font-size: 14px;
    opacity: 60%;
}

#rectangle {
    border-radius: 5px;
}

.bigparagraph {
    font-size: 20px;
    line-height: 32px;
}

.smallparagraph {
    line-height: 30px;
}

.smallparagraph a {
    color: rgba(255, 255, 255, 1);
}

.copyright {
    text-align: center;
    padding: 0 0 77px;
}
